@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>js计时器</title>
    <link href="~/Content/showLoading.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/jquery.showLoading.min.js"></script>
</head>


<body>
    <div class="add_test_img" style="width:300px;height:300px"></div>
</body>
</html>
<script type="text/javascript">
    $(function () {
        alert(111);
        $("body").showLoading();
    });
</script>
