@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
<meta charset="utf-8" />
<title>规则说明</title>
<meta name="viewport" content="width=device-width,user-scalable=no" />
<meta http-equiv="cache-control" content="no-cache" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta content="telephone=no" name="format-detection" />
    <link href="~/Content/playrule.css?v=1803121" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>

    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
  
</head>
<body>

<header>
<a href="javascript:history.go(-1)" class="back">返回</a>
<h1>规则说明</h1>
</header>
<section class="sign-module">
    <h2>重庆时时彩游戏规则说明∶</h2>
<p>
每期重庆时时彩开奖球数共五粒。一天共120期。早上10点到凌晨1点55而且晚上22点之后变为5分钟一期。
两面：指单、双；大、小。</p>
   <p> <b>单、双：</b>号码为双数叫双，如0、2、4、6、8；号码为单数叫单，如1、3、5、7、9。</p>
 <p><b>大、小：</b>开出之号码大于或等于5为大，小于或等于4为小。</p>
    <p>
每一个号码为一投注组合，假如投注号码为开奖号码并在所投的球位置，视为中奖，其余情形视为不中奖。</p>
</section>
<div id="alpha_cover" class="alpha-cover"></div>
<div class="loading" id="loading">
<span class="loading-ring"></span>
</div>


<div id="stats-box"></div>

</body>
</html>
