@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
<meta charset="utf-8" />
<title>规则说明</title>
<meta name="viewport" content="width=device-width,user-scalable=no" />
<meta http-equiv="cache-control" content="no-cache" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta content="telephone=no" name="format-detection" />
    <link href="~/Content/playrule.css?v=1803121" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>

    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
   
</head>
<body>

<header>
<a href="javascript:history.go(-1)" class="back">返回</a>
<h1>规则说明</h1>
</header>
<section class="sign-module">
    <h2>六合彩游戏规则说明∶</h2>
<p>
每期六合彩开奖球数共七粒（最后一码为特码）。每周开3期，周二、周四、周六或周日正常赛马日。
</p>
 @*  <p> <b>特码单、双：</b>特码为双数叫双，如8、10；号码为单数叫单，如1、3。</p>
 <p><b>特码大、小：</b>特码大于或等于6为大，小于或等于5为小。</p>*@
    <p>
特码∶六合彩公司当期开出的最后一码为特码，假如投注号码为开出之特码，视为中奖，其余情形视为不中奖。</p>
</section>
<div id="alpha_cover" class="alpha-cover"></div>
<div class="loading" id="loading">
<span class="loading-ring"></span>
</div>



</body>
</html>
