
.retrie {
    padding-left:160px;
}
.retrie dt {
    
	overflow: hidden;
}
.retrie dt a {
	 text-align: left; color: rgb(255, 255, 255);  font-size: 16px;  
}
.retrie dt a::after {
	border-width: 1px 1px 0px 0px; border-style: solid; border-color: rgb(255, 255, 255); left: 50%; top: 50%; width: 8px; height: 8px; margin-top: -4px; margin-left: 30px; position: absolute; content: " "; -webkit-transform: rotate(135deg);
}
.retrie dt .up {
	color: rgb(0, 124, 207); border-bottom-color: rgb(255, 255, 255); border-bottom-width: 2px; border-bottom-style: solid;
}
.retrie dt .up::after {
	border-width: 1px 1px 0px 0px; border-style: solid; border-color: rgb(255, 255, 255); margin-top: 0px; -webkit-transform: rotate(-45deg);
}
.retrie dt a:last-child::before {
	left: 0px; top: 10px; width: 1px; height: 30px; display: block; position: absolute; content: " "; background-color: rgb(255, 255, 255);
}
.retrie dd {
	position: relative;
}
.slide {
	left: 0px; top: 0px; width: 100%; display: none; position: absolute; z-index: 999999; background-color: rgb(255, 255, 255);
}
.slide li {
	height: 50px; border-bottom-color: rgb(238, 238, 238); border-bottom-width: 1px; border-bottom-style: solid; display: block;z-index: 99999;
}
.slide li a {
	padding: 0px 30px; height: 50px; line-height: 50px; display: block; background-color: rgb(255, 255, 255);
}
.slide li a:hover {
	background-color: rgb(246, 246, 246);
}
.slide li a.selected {
	background-color: rgb(246, 246, 246);
}
.slide li a.select {
	background-color: rgb(255, 255, 255);
}
